<form method="post" action="/shares/data">
<h2 class="page-header">Shares</h2>
 <h4 class="text-muted">Search the latest information on Shares</h4>
   <div class="form-group">
      <label>Share Name</label>
      <input type="text" class="form-control" name="shareName" placeholder="Share Name" autocomplete="off">
   </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>